body > * {
    font-family: 'Roboto';
}

.input-button {
    border: 2px solid #7D68E8;
    width: 15em;
    height: 3em;
    background: none;
    outline: none;
    font-size: 1.1em;
    color: #7D68E8;
    transition: 250ms ease;
    cursor: pointer;
}

.input-button:hover {
    background-color: #7D68E8;
    color:white;
}